<h2>Cart Index</h2>

<h3>Items in the Cart</h3>
<ul>
  <% cart.each do |product| %>
    <li>
      <%= product %>
    </li>
  <% end %>
</ul>

<br>

<h3>Add Items to Cart</h3>

<%= form_tag '/add' do %>
  <%= label_tag :product, "Product:" %><br>
  <%= text_field_tag :product %><br><br>
  <%= submit_tag "add to cart" %>
<% end %>
